<!--button style="width:100px; height:100px;">
	HI FOLKS
</button-->
<div style="display: flex">
	<div class="main-layout">
		<div style="margin-top: 30px;">
			<img src="{{resourcePath}}/assets/img/Logo_LKM.png" style="width: 140px;">
		</div>
		<div style="margin-top: 10px;">
		</div>
		<div (click)="onNavigate('')" class="div-link">
			<div style="width:18%">
				<i class="fas fa-upload" style="color:white; margin-right: 5px"></i>
			</div>
			<div style="font-size: 15px; color: white">Corporations</div>
		</div>
	</div>
	<div style="width: 90%">
		<!-- Header -->
		<div>
			<div class="local-card head">
				BTP Integrated Extension
			</div>
			<div style="height:8px;">
			</div>
				<!-- Content -->
				<router-outlet></router-outlet>
			<div>
			</div>
		</div>
	</div>
</div>
